<%- include('../partials/header') %>

<main class="main main-404">
    <div class="container"> 
        <h2 class="header-h2">This page nor your liver exists!</h2>
        <img src="/media/drunk.gif" alt="gif of a drunken fool" class=""img-fluid w-100"/>
    </div>
</main>


<%- include('../partials/footer') %>