<%- include('../partials/header') %>
    <main class="main main-home">
        <div class="section section section-home">
            <div class="container">
                <h2 class="header-h2"><%= name %></h2>
                <div class="row">
                    <div class="col-md-5">
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non dolores ex quo laudantium aut earum quam, aperiam saepe? Neque qui sapiente, perspiciatis ducimus provident autem repellat. Reprehenderit hic in nisi adipisci quisquam sint illum cumque accusamus incidunt! Odit nobis eos, ut qui, omnis consequatur corporis quis natus cumque corrupti praesentium dignissimos deserunt numquam explicabo voluptas mollitia dolore magni sapiente aperiam. Perspiciatis repellat voluptatibus et nulla architecto, laboriosam quam fugit maiores ad. Labore dicta incidunt provident possimus asperiores, tenetur facere, maxime inventore aliquam, tempora fuga iste. Ducimus nobis, doloribus necessitatibus voluptate maiores ipsa, quo dolore similique accusantium ratione autem porro aspernatur.</p>
                    </div>
                    <div class="col-md-7">
                        <img src="https://via.placeholder.com/300x300" alt="placeholder" class="img-fluid rounded home-img float-end" />
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-md-3">
                        <figure class="figure">
                            <img src="https://via.placeholder.com/200x200" alt="placeholder" class="img-fluid rounded home-img 2nd-row-img figure-img /> <figcaption class="figure-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, in.</figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3">
                        <figure class="figure">
                            <img src="https://via.placeholder.com/200x200" alt="placeholder" class="img-fluid rounded home-img 2nd-row-img figure-img /> <figcaption class="figure-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, in.</figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3">
                        <figure class="figure">
                            <img src="https://via.placeholder.com/200x200" alt="placeholder" class="img-fluid rounded home-img 2nd-row-img figure-img /> <figcaption class="figure-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, in.</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>